@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

@layer utilities {
  .clip-circle {
    clip-path: circle(40% at 50% 50%);
  }
  .break-after-always {
    break-after: always;
  }
}
